/* Nav bar styling */
.nav-wrapper{
background-color: #ff8f00;
}

.brand-logo img{
    width: 3.5rem;
    height: 3.5rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
}

/* Page styling */
body{
    font-family: 'Source Sans Pro', sans-serif;
}

#intro{
margin-top: 1rem;
text-align: center;
}

#intro-banner{
    font-size: 3rem;
}

#login-graphic{
    width: 100%;
    height: 80vh;
    margin-left: -1rem;
}

#login-title{
    margin-bottom: 1rem;
}

#error-message{
    color: red;
}

#submitContainer{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
